* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  color: #fff;
  background-color: #495057;
  grid-column: 1;
  grid-row: 1/-1;
}
menu {
  padding: 0 34px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #845ef7;
  grid-column: 2/-1;
  gap: 30px;
}

button {
  background: #7048e8;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 18px;
  font-weight: bold;
}
button:last-child {
  margin-left: auto;
  background-color: #d6336c;
  font-weight: bold;
}
article {
  overflow: scroll;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}
main {
  text-align: center;
  color: #495057;
  padding-top: 40px;
}
aside {
  height: 100vh;
  text-align: center;
  color: #495057;
  background-color: #dbdbdb;
  padding-top: 40px;
}

div {
  color: #495057;
  background-color: #b197fc;
  font-weight: bold;
  flex-shrink: 0;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
article,
main,
aside {
  padding-top: 24px;
}
